<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-white">Mission statement</h2>
      <hr class="light my-4">
      <p class="text-faded mb-4">
        The Kirpal Sagar Charitable Hospital is a small hospital in Punjab,
        India where all people receive treatment and then pay what they can
        afford. It is envisioned to grow up to 500 beds and become part
        of a Medical College. The purpose of this project is to support that
        vision.
      </p>
    </div>
  </div>
</div>
