<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Contact information</h2>
      <hr class="my-4">
      <p class="mb-5">
      
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center text-center">
    <div class="contact-option">
      <i class="fab fa-github fa-3x mb-3 sr-contact-2"></i>
      <p>
        <a href="https://github.com/ksch-workflows" target="_blank">GitHub</a>
      </p>
    </div>
  </div>

  <div class="imprint">
    <a id="imprint" target="_blank" href="http://notes.experimental-software.com/Impressum.html">Imprint</a>
  </div>

</div>
