<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Documentation</h2>
      <hr class="light my-4">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 text-center">
      <!-- Placeholder to align the following two divs in the center -->
    </div>
    <div class="col-lg-3 text-center">
      <div class="service-box mt-5 mx-auto">
        <i class="fas fa-file-alt fa-4x mb-3 sr-icon-1"></i>
        <p>The basic structure of the K.S.C.H. Workflows prototype is described here:</p>
        <p>
          <i class="fas fa-external-link-alt"></i> <a target="_blank"
          href="https://ksch-workflows.github.io/arc42/">
          arc42</a>
        </p>
      </div>
    </div>
  </div>
</div>
