<div class="container-fluid p-0">
  <div class="row no-gutters popup-gallery">
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/direction-sign/direction-sign.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/direction-sign/direction-sign_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Direction sign
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/ambulance/ambulance.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/ambulance/ambulance_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Ambulance
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/medical-camp/medical-camp.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/medical-camp/medical-camp_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Medical camp
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/treatment/treatment.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/treatment/treatment_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Patient treatment
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/pharmacy/pharmacy.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/pharmacy/pharmacy_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Pharmacy
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-sm-6">
      <a class="portfolio-box" href="{{ "img/laboratory/laboratory.jpg" | relURL }}">
        <img class="img-fluid" src="{{ "img/laboratory/laboratory_thumbnail.jpg" | relURL }}" alt="">
        <div class="portfolio-box-caption">
          <div class="portfolio-box-caption-content">
            <div class="project-name">
              Laboratory
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
