<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading">Roadmap</h2>
      <hr class="my-4" />
      <p class="mb-4">
        Currently this project is just a prototype that is used to explore ideas
        and as a tool for eduction.
      </p>
      <p class="mb-4">
        Maybe someday there will be a group of a dozen volunteers that evolve
        the system together. If the application gets used in production mode,
        there will be a professional service partner that takes care of the
        operations and 1st, 2nd, and 3rd level support. This service partner
        would be financed with purpose-bound donations.
      </p>
    </div>
  </div>
</div>
